html,
body,
#root {
  height: 100%;
}

.pf-v6-c-code-editor__code {
  border-radius: 15px;
}

.pf-v6-theme-dark .pf-v6-c-code-editor__code {
  background-color: var(--pf-t--global--background--color--primary--default);
}

:fullscreen::backdrop {
  background-color: var(--pf-t--global--background--color--primary--default);
}
